{% extends 'community/base.html' %}

            
{% block content %}
<div class="container">
<div class="row">
    <div class="col s12 offset-m2 m8">
        <table>
            <thead>
                <th>준비물</th>
                <th>구매처</th>
                <th>구매여부</th>
            </thead>
            <tbody>
            <tr> <td>시계</td>
                 <td>www.coupang.com</td>
                 <td><input type="checkbox" name="chk_info" value="HTML">준비여부</td> </tr>
            <tr> <td>시계</td>
                 <td>www.coupang.com</td>
                 <td><input type="checkbox" name="chk_info" value="HTML">준비여부</td> </tr>
            <tr> <td>시계</td>
                 <td>www.coupang.com</td>
                 <td><input type="checkbox" name="chk_info" value="HTML">준비여부</td> </tr>
            <tr> <td>시계</td>
                 <td>www.coupang.com</td>
                 <td><input type="checkbox" name="chk_info" value="HTML">준비여부</td> </tr>
            <tr> <td>시계</td>
                 <td>www.coupang.com</td>
                 <td><input type="checkbox" name="chk_info" value="HTML" style="opacity : 1"></td> </tr>
            </tbody>
        </table>
    </div>
</div>
</div>s
{% endblock %}
